*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: red;
  /* method 1   for center the element */
  display: flex;
  justify-content: center;
  align-items: center;  
} 
.card{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 230px;
  /* transform: translate(-50%,-50%); */
  /* background-color: antiquewhite; */
  border: 3px solid salmon;
  border-radius: 20px;
  background-color: salmon;
}

.card:hover{
  z-index: 10;
}
#card1{
  background-color: salmon;
  z-index: 4;
  transform: translate(-50%,-50%);
}
#card2{
    /* height: 280px;
  width: 210px;
  border: brown 3px solid;*/
   background-color: brown; 
  transform: translate(-50%,-50%)rotate(-7deg);
  z-index: 3;
}

#card2:hover{
  z-index: 10;
}
#card3:hover{
  z-index: 10;
}
#card4:hover{
  z-index: 10;
}
#card3{
    /* height: 260px;
  width: 190px;
 border: green 3px solid; */ 
  background-color: green; 
  /* rotate: -16deg; */
  transform: translate(-50%,-50%)rotate(-14deg);
  z-index: 2;
}

#card4{
    /* height: 240px;
  width: 170px;
  border: black 3px solid;; */
  background-color: yellow; 
  /* rotate: -24deg; */
transform: translate(-50%,-50%)rotate(-21deg);
  z-index: 1;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


